[Unit]
Description=Sensors
After=network.target

[Service]
ExecStart=/home/pi/temperature/start
WorkingDirectory=/home/pi/temperature
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
